@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

@font-face {
    font-family: logoFont;
    src: url("./font/Timeburner-xJB8.ttf");
}

@font-face {
    font-family: font;
    src: url("./font/Quicksand-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #228CDB;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #170A1C;
}

.signUpSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    color: #f0f8ff;
    overflow-y: auto;
}

.signUpSection .logo {
    font-family: logoFont;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    gap: 7px;
    opacity: 0.8;
}

.signUpSection .logo span {
    margin-top: 5px;
}

.signUpSection .content {
    max-width: 400px;
    min-height: 500px;
    background-color: #301c38;
    border-radius: 5px;
    font-family: font;
    font-size: 0.82em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.signUpSection .content .text,
.signUpSection .content form {
    display: flex;
    flex-direction: column;
}

.signUpSection .content .text {
    margin-bottom: 30px;
    gap: 5px;
}

.signUpSection .content .text span:first-of-type {
    font-size: 1.6em;
}

.signUpSection .content .text span:last-of-type {
    font-size: 1.13em;
}

.signUpSection .content form {
    gap: 30px
}

.signUpSection .content form div {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #f0f8ff;
}

.signUpSection .content form div label {
    color: #170a1caf;
    background-color: #f0f8ff;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.signUpSection .content form div input {
    border: none;
    outline: none;
    padding: 10px;
    background-color: #f0f8ff;
    color: #170A1C;
    font-family: font;
    font-size: 1.1em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -3px;
}

.signUpSection .content form #passwordInput {
    letter-spacing: 2px;
    width: 90%;
}

.signUpSection .content form div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.13em;
    background-color: transparent;
}

.signUpSection .content form div:last-of-type label {
    color: #f0f8ff;
    background-color: transparent;
}

.signUpSection .content form div:last-of-type input {
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 2px;
    padding: 7px;
    transition: 0.03s;
}

.signUpSection .content form div:last-of-type input:checked {
    background-color: #9C95DC;
    background-image: url("../media/checkmark-svg.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.signUpSection .content form button {
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
    border: none;
    letter-spacing: 1.5px;
    color: #f0f8ff;
    background-color: #9C95DC;
    font-family: font;
    transition: 0.4s;
}

.signUpSection .content form button:hover {
    background-color: #C19AB7;
}

.video {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: logoFont;
}

.video video {
    height: 100%;
    opacity: 0.6;
    position: absolute;
}

.video div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 5px;
    color: #f0f8ff;
    opacity: 0.5;
    position: absolute;
    animation: glitch 1s linear infinite;
}

.video div:before,
.video div:after {
    content: attr(data-value);
    position: absolute;
}

.video div:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.video div:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@media screen and (max-width: 1024px) {
    .signUpSection {
        width: 100%;
    }

    .video {
        display: none;
    }
}